<footer class="footer-basic fixed-bottom">
  <div class="social">
    <a href="#"><i class="fa-brands fa-github"></i></a
    ><a href="#"><i class="fa-brands fa-linkedin"></i></a
    ><a href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">About</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
  </ul>
  <p class="copyright">Roomeaze © 2022</p>
</footer>

<script src="/js/bootstrap.min.js"></script>
