<nav class="navbar navbar-light navbar-expand-lg navigation-clean">
  <div class="container">
    <a class="navbar-brand" href="/">Roomeaze</a
    ><button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navcol-1"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/tasklist">Task List</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
