<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="/js/header.js"></script>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <p>Good <%= helper.getTimeOfDay() %>, roomie!</p>

    <%- include('../partials/footer'); %>
  </body>
</html>
