<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="/js/task.js"></script>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container w-75">
      <form>
        <label class="form-label" for="taskname">Task Name</label
        ><input
          id="taskname"
          class="form-control"
          type="text"
          required
          minlength="5"
          maxlength="64"
        /><label class="form-label" for="assignee">Assignee</label
        ><select id="assignee" class="form-select" required>
          <optgroup label="Assignee">
            <option selected>Roommate A</option>
            <option>Roommate B</option>
            <option>Roommate C</option>
          </optgroup></select
        ><label class="form-label" for="frequency">Frequency</label
        ><select id="frequency" class="form-select" required>
          <optgroup label="Frequency">
            <option value="0" selected>One time</option>
            <option value="1">Daily</option>
            <option value="7">Weekly</option>
            <option value="30">Monthly</option>
          </optgroup></select
        ><label class="form-label" for="duedate">Due Date</label
        ><input id="duedate" class="form-control" type="date" required /><label
          class="form-label"
          >Comments</label
        ><textarea
          id="comments"
          class="form-control"
          maxlength="256"
          name="comments"
        ></textarea>
        <button
          id="submit"
          onClick="taskSubmit()"
          class="btn btn-primary"
          type="button"
        >
          Add Task
        </button>
      </form>
    </div>
    <script src="/js/task.js" type="module"></script>
    <%- include('../partials/footer'); %>
  </body>
</html>
