<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="/js/task.js"></script>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container">
      <form>
        <label class="form-label" for="taskname">Task Name</label
        ><input
          id="taskname"
          class="form-control"
          type="text"
          required
          minlength="3"
          maxlength="64"
        /><label class="form-label" for="assignee">Assignee</label
        ><select id="assignee" class="form-select" required>
          <optgroup label="Assignee">
            <option value selected>Roommate A</option>
            <option value>Roommate B</option>
            <option value>Roommate C</option>
          </optgroup></select
        ><label class="form-label" for="frequency">Frequency</label
        ><select id="frequency" class="form-select" required>
          <optgroup label="Frequency">
            <option value selected>Daily</option>
            <option value>Weekly</option>
            <option value>Monthly</option>
          </optgroup></select
        ><label class="form-label" for="duedate">Due Date</label
        ><input id="duedate" class="form-control" type="date" required /><label
          class="form-label"
          >Comments</label
        ><textarea
          id="comments"
          class="form-control"
          maxlength="256"
          name="comments"
        ></textarea>
      </form>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
