<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header'); %>

    <div class="container w-75">
      <div class="card">
        <div class="card-header"><span>Today&#39;s Tasks</span></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Item 1</li>
          <li class="list-group-item">Item 2</li>
          <li class="list-group-item">Item 3</li>
          <li class="list-group-item">Item 4</li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header"><span>Upcoming Tasks</span></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Item 1</li>
          <li class="list-group-item">Item 2</li>
          <li class="list-group-item">Item 3</li>
          <li class="list-group-item">Item 4</li>
        </ul>
      </div>
    </div>

    <%- include('../partials/footer'); %>
  </body>
</html>
