<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header'); %>

    <div class="container-fluid">
      <div id="todaysTasks" class="row">
        <h1>Today's Tasks</h1>
        <div class="col-sm-12">
          <ul>
            <li>Added Task 1:</li>
            <button class="btn">Not Completed</button>
            <li>Added Task 2:</li>
            <button>Completed</button>
            <li>Added Task 3:</li>
            <button>Completed</button>
            <li>Added Task 4:</li>
            <button>Not Completed</button>
            <li>Added Task 5:</li>
            <button>Completed</button>
            <li>Added Task 6:</li>
            <button>Completed</button>
            <li>Added Task 7:</li>
            <button>Completed</button>
            <li>Added Task 8:</li>
            <button>Not Completed</button>
          </ul>
        </div>
        <div id="upcomingTasks" class="row">
          <h1>Upcoming Tasks</h1>
          <div class="col-sm-12">
            <ul>
              <li>Added Task 1:</li>
              <button>Not Completed</button>
              <li>Added Task 2:</li>
              <button>Not Completed</button>
              <li>Added Task 3:</li>
              <button>Not Completed</button>
              <li>Added Task 4:</li>
              <button>Not Completed</button>
              <li>Added Task 5:</li>
              <button>Not Completed</button>
              <li>Added Task 6:</li>
              <button>Not Completed</button>
              <li>Added Task 7:</li>
              <button>Not Completed</button>
              <li>Added Task 8:</li>
              <button>Not Completed</button>
            </ul>
          </div>
        </div>
        <div id="recentlyCompleted" class="row">
          <h1>Recently Completed</h1>
          <div class="col-sm-12">
            <ul>
              <li>Task 1: Completed by:</li>
              <li>Task 2: Completed by:</li>
              <li>Task 3: Completed by:</li>
              <li>Task 4: Completed by:</li>
              <li>Task 5: Completed by:</li>
              <li>Task 6: Completed by:</li>
              <li>Task 7: Completed by:</li>
              <li>Task 8: Completed by:</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/bootstrap'); %>
  </body>
</html>