<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header'); %>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#newTaskModal"
    >
      New Task
    </button>

    <div
      class="modal fade"
      id="newTaskModal"
      tabindex="-1"
      aria-labelledby="newTaskModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newTaskModal">New Task</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <label class="form-label" for="taskname">Task Name</label
              ><input
                id="taskname"
                class="form-control"
                type="text"
                required
                minlength="3"
                maxlength="64"
              /><label class="form-label" for="assignee">Assignee</label
              ><select id="assignee" class="form-select" required>
                <optgroup label="Assignee">
                  <option selected>Roommate A</option>
                  <option>Roommate B</option>
                  <option>Roommate C</option>
                </optgroup></select
              ><label class="form-label" for="frequency">Frequency</label
              ><select id="frequency" class="form-select" required>
                <optgroup label="Frequency">
                  <option value="0" selected>One-time</option>
                  <option value="1">Daily</option>
                  <option value="7">Weekly</option>
                  <option value="30">Monthly</option>
                </optgroup></select
              ><label class="form-label" for="duedate">Due Date</label
              ><input
                id="duedate"
                class="form-control"
                type="date"
                required
              /><label class="form-label">Comments</label
              ><textarea
                id="comments"
                class="form-control"
                maxlength="256"
                name="comments"
              ></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="submitNewTask"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container w-75">
      <div class="card">
        <div class="card-header"><span>Tasks</span></div>
        <ul id="tasklist" class="list-group list-group-flush"></ul>
      </div>
    </div>

    <%- include('../partials/footer'); %>
    <script type="module">
      import { TaskAPI } from "/js/taskapi.js";
      import taskSubmit from "/js/task.js";
      TaskAPI.getTasks();

      document
        .getElementById("submitNewTask")
        .addEventListener("click", taskSubmit);
    </script>
  </body>
</html>
